@model IEnumerable<CRM_Project.Core.Entities.Service>
@{
  ViewData["Title"] = "Create";
  Layout = "_Layout2";
}
<h2 class="mt-2">Talep Gönder</h2>
<hr />
<div class="card mt-2">
  <div class="card-header fw-bold">Talep</div>
  <div class="card-body">
    <table class="table" id="datatablesSimple">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.ServiceStatus)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Request)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
          </th>
          <th>Bilgi</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.ServiceStatus)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Request)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
          </th>
          <th> Bilgi   </th>
      </tfoot>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @if (item.ServiceStatus == CRM_Project.Core.Enums.ServiceStatus.Yeni_Gelen)
              {
                <span>Teslim Edildi</span>
              }
              @if (item.ServiceStatus == CRM_Project.Core.Enums.ServiceStatus.Devam_Eden)
              {
                <span>Devam Ediyor</span>
              }
              @if (item.ServiceStatus == CRM_Project.Core.Enums.ServiceStatus.Kapatılmış)
              {
                <span>Tamamlanmış</span>
              }
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Request)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
              @item.UpdatedDate.Date.ToString("dd/MM/yyyy")
            </td>
            <td>
              <a asp-action="Info" asp-route-id="@item.Id" class="btn"><i class="fa-solid fa-circle-info fa-bounce" style="color: #0cdfdb;"></i></a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
