@model IEnumerable<CRM_Project.Core.Entities.Service>

@{
  ViewData["Title"] = "OngoingServices";
}

<h2 class="mt-2">Devam Eden Hizmetler</h2>
<hr />
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Servis Tablosu
  </div>
  <div class="card-body">
    <table class="table" id="datatablesSimple">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.ServiceStatus)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Request)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
          </th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.ServiceStatus)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Request)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
          </th>
          <th>    </th>
      </tfoot>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.ServiceStatus)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Request)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.UpdatedDate.Date)
            </td>
            <td>
              <a asp-action="DeactivateService" asp-route-id="@item.Id" class="btn btn-danger">Servisi Kapat</a> |
              <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detaylar</a> |
              <a asp-controller="ServiceStep" asp-action="CreateByAdmin" asp-route-id="@item.Id" class="btn btn-success">Servis Adımı Ekle</a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>